* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url(kursor.png), url(kursor.cur), pointer
}

@font-face {
    font-family: Harry_Potter;
    src: url("HARRP.TTF");
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 10%;
    width: 100%;
    font-family: Harry_Potter;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: white;
    background-color: #4b6ba3;
}

ul {
    list-style-type: none;
}

ul li {
    float: left;
    width: 1%;
    height: 3%;
    line-height: 50px;
    background: black;
    width: 25%;
}

ul ul li {
    position: relative;
    display: none;
}

ul li:hover ul li {
    display: block;
    width: 50%;
    height: 100%;
}

ul ul ul {
    display: none;
}

main {
    background-color: #0b2330;
    margin-right: 25%;
    margin-left: 25%;
    color: white;
    top: 20%;
    font-family: sans-serif;
}
